:root {
  /* Custom color palette */
  --background: rgb(233, 138, 21); /* #323B42 */
  --foreground: hsla(50, 25%, 98%, 1); /* #FCFBF9 */

  --card: #BC9BCC; /* #D9C7BE */
  --card-foreground: #250833; /* #323B42 */

  --popover: #F2D7FF; /* #D9C7BE */
  --popover-foreground: #250833; /* #323B42 */

  --primary: rgb(227, 162, 255); /* #635B58 */
  --primary-foreground: rgb(106, 46, 174); /* #FCFBF9 */

  --secondary: rgb(177, 120, 224); /* #A59B95 */
  --secondary-foreground: #250833; /* #323B42 */

  --muted: rgb(80, 61, 105); /* #8C817B */
  --muted-foreground: rgb(202, 182, 255); /* #FCFBF9 */

  --accent: rgb(131, 81, 180); /* #B5A79F */
  --accent-foreground: #250833; /* #635B58 */

  --destructive: rgb(77, 45, 100); /* #3B3634 */
  --destructive-foreground: rgb(243, 186, 255); /* #FCFBF9 */

  --border: hsla(28, 13%, 61%, 1); /* #A59B95 */
  --input: hsla(28, 12%, 68%, 1); /* #B5A79F */
  --ring: hsla(209, 12%, 22%, 1); /* #323B42 */

  /* Combinations */
  .card {
    background-color: var(--card);
    color: var(--card-foreground);
  }

  .popover {
    background-color: var(--popover);
    color: var(--popover-foreground);
  }

  .primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  .secondary {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
  }

  .muted {
    background-color: var(--muted);
    color: var(--muted-foreground);
  }

  .accent {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  .destructive {
    background-color: var(--destructive);
    color: var(--destructive-foreground);
  }
}
